<div class="modal is-active" [trapFocus]="this" #el>
  <div class="modal-background" (click)="close()"></div>
  <div class="modal-content">
    <div class="message">
      <div class="message-header">
        <p>{{ title }}</p>
        <button class="delete" aria-label="delete" (click)="close()"></button>
      </div>

      <div class="message-body">
        <ng-template contentHost></ng-template>
        
        <div class="buttons is-right">
          <button class="button is-success has-text-weight-bold mt-4" (click)="close()" #defaultNode>
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
