<div class="table-container">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th *ngIf="config.indexColumn"
            [style.width]="config.indexColumn.width"
            class="has-text-right">
          #
        </th>
  
        <th *ngFor="let name of config.columnNames; index as i"
            [style.width]="config.columnWidths[i]">
          <span>
            <span *ngIf="config.sortableColumns.has(i)"
                  (click)="sortByProperty(config.properties[i])"
                  class="icon">
              <i class="material-icons">swap_vert</i>
            </span>
            <span>{{ name }}</span>
          </span>
        </th>
  
        <th *ngIf="config.actionsColumn"
            [style.width]="config.actionsColumn.width">
          Actions
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="config.data.length === 0 && config.showEmptyDatasetMessage">
        <td class="has-text-centered"
            [attr.colspan]="config.columnNames.length + (config.indexColumn ? 1 : 0) + (config.actionsColumn ? 1 : 0)">
          Na data available
        </td>
      </tr>

      <tr *ngFor="let j of sortOrder; index as i">
        <td *ngIf="config.indexColumn" class="has-text-right has-text-weight-bold">
          {{ i + 1 }}
        </td>

        <td *ngFor="let prop of config.properties">
          {{ config.data[j][prop] }}
        </td>

        <td *ngIf="config.actionsColumn">
          <span class="icon">
            <i class="material-icons has-text-info">edit</i>
          </span>
          <span class="icon">
            <i class="material-icons has-text-danger">delete</i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
