<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Prescription Book</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">Please login to proceed.</p>
        <div class="box">
          <figure class="avatar">
            <img src="/assets/images/login-128x.png">
          </figure>

          <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="field">
              <div class="control">
                <input
                    autocomplete="off"
                    autofocus
                    class="input is-normal"
                    name="username"
                    pattern="^[a-z][a-z]{1,30}$"
                    placeholder="Your Username"
                    required
                    type="text"
                    [(ngModel)]="username">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                    class="input is-normal has-text-black"
                    name="password"
                    placeholder="Your Password"
                    required
                    type="password"
                    [(ngModel)]="password">
              </div>
            </div>

            <button
                class="button is-block is-info is-normal is-fullwidth"
                type="submit"
                [disabled]="!f.form.valid">
              Login
            </button>
          </form>

          <p *ngIf="loginFailure" class="has-text-danger has-text-weight-bold mt-4">
            Wrong username or password
          </p>
  
          <p *ngIf="error" class="has-text-danger has-text-weight-bold mt-4">
            Unable to login. Try again later.
          </p>
        </div>

        <p class="has-text-white">
          <a href="#">Forgot Password</a>
          &nbsp;&middot;&nbsp;
          <a href="#">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
