<div class="modal" [class.is-active]="active">
  <div class="modal-background is-overlay" (click)="close(false)"></div>
  <div class="modal-content">
    <div class="message">
      <div class="message-header">
        <p>{{ title }}</p>
        <button class="delete" aria-label="delete" (click)="close(false)"></button>
      </div>
      <div class="message-body">
        <p class="my-2" *ngFor="let item of content">
          {{ item }}
        </p>

        <div class="control my-4">
          <input autofocus class="input" type="text" [(ngModel)]="input">
        </div>

        <div class="buttons is-right">
          <button class="button is-success has-text-weight-bold" (click)="close(true)">Submit</button>
          <button class="button is-danger has-text-weight-bold" (click)="close(false)">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
