<div class="container">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input [value]="data.name" class="input" type="text" readonly>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Speciality</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input [value]="data.speciality" class="input" type="text" readonly>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Number</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input [value]="data.number" class="input" type="email" readonly>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Contact</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input [value]="data.contact" class="input" type="email" readonly>
        </p>
      </div>
    </div>
  </div>
</div>
