<div class="container">
  <div class="field has-addons">
    <div class="control has-text-right has-background-info">
      <a class="button is-info has-text-weight-bold">
        Name
      </a>
    </div>
    <div class="control">
      <input [value]="data.name" class="input" type="text" readonly>
    </div>
  </div>

  <div class="field has-addons">
    <div class="control has-text-right has-background-info">
      <a class="button is-info has-text-weight-bold">
        Speciality
      </a>
    </div>
    <div class="control">
      <input [value]="data.speciality" class="input" type="text" readonly>
    </div>
  </div>

  <div class="field has-addons">
    <div class="control has-text-right has-background-info">
      <a class="button is-info has-text-weight-bold">
        Council ID
      </a>
    </div>
    <div class="control">
      <input [value]="data.medCouncilId" class="input" type="email" readonly>
    </div>
  </div>

  <div class="field has-addons">
    <div class="control has-text-right has-background-info">
      <a class="button is-info has-text-weight-bold">
        Phone number
      </a>
    </div>
    <div class="control">
      <input [value]="data.phoneNumber" class="input" type="email" readonly>
    </div>
  </div>
</div>
