<aside class="menu is-hidden-mobile">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a routerLink="/dashboard" routerLinkActive="is-active">Dashboard</a>
    </li>
  </ul>

  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      <a routerLinkActive="is-active">Users</a>
    </li>
    <li>
      <a routerLinkActive="is-active">Settings</a>
    </li>
  </ul>

  <p class="menu-label">
    Personal
  </p>
  <ul class="menu-list">
    <li>
      <a routerLinkActive="is-active">Your account</a>
    </li>
  </ul>
</aside>
