<div class="table-container">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th *ngIf="meta.indexColumn" [style.width]="meta.indexColumn.width" class="has-text-right">#</th>
  
        <th *ngFor="let name of meta.columns.names; index as i"
            [style.width]="meta.columns.widths[i]">
          <span class="icon-text">
            <span>{{ name }}</span>
            
            <span *ngIf="meta.columns.sortable.has(i)" (click)="sortByColumn(i)" class="icon">
              <ng-container *ngIf="sortColumn === i; else swap">
                <i *ngIf="columnSortOrder.get(i) === 'asc'; else desc" class="material-icons">arrow_upward</i>
                <ng-template #desc>
                  <i class="material-icons" #desc>arrow_downward</i>
                </ng-template>
              </ng-container>

              <ng-template #swap>
                <i *ngIf="sortColumn !== i" class="material-icons">swap_vert</i>
              </ng-template>
            </span>
          </span>
        </th>
  
        <th *ngIf="meta.actionColumn" [style.width]="meta.actionColumn.width">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="!data.length && meta.showEmptyDatasetMessage">
        <td [attr.colspan]="meta.columns.names.length + (+!!meta.indexColumn) + (+!!meta.actionColumn)"
            class="has-text-centered">
          Na data available
        </td>
      </tr>

      <tr *ngFor="let row of itemDisplayOrder; index as i">
        <td *ngIf="meta.indexColumn" class="has-text-right has-text-weight-bold">
          {{ i + 1 }}
        </td>

        <td *ngFor="let prop of meta.properties">
          <ng-container *ngIf="!isBoolean(data[row][prop]); else checkbox">
            {{ data[row][prop] }}
          </ng-container>
          <ng-template #checkbox>
            <input type="checkbox" [checked]="data[row][prop]">
          </ng-template>
        </td>

        <td *ngIf="meta.actionColumn">
          <span *ngIf="meta.actionColumn?.show" (click)="emitActionEvent(row, 'show')" class="icon">
            <i class="material-icons has-text-success">visibility</i>
          </span>
          <span *ngIf="meta.actionColumn?.edit" (click)="emitActionEvent(row, 'edit')" class="icon">
            <i class="material-icons has-text-info">edit</i>
          </span>
          <span *ngIf="meta.actionColumn?.delete" (click)="emitActionEvent(row, 'delete')" class="icon">
            <i class="material-icons has-text-danger">delete</i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
